body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333;
	background: #f7b267;
}

a {
	color: #0095ff;
}

	a:link,
	a:visited,
	a:active,
	a:hover a:focus {
		color: #ff6a00;
	}

h1 {
	color: #000;
	font-family: 'Dancing Script';
	margin-bottom: .5em;
}





/* BOOTSTRAP OVERWRITES *******************/
a.btn-primary,
.btn-primary {
	color: #fff;
	background: #f4845f;
	border-color: #f4845f;
}

	.btn-primary:hover,
	.btn-primary:focus {
		background: #ff6a00;
		border-color: #ff6a00;
	}





/* CARD ************************************/
.card img {
	border: 5px solid #f7b267;
	border-top-width: 3em;
}








/* ENTRY **********************************/
.panel {
	border-radius: unset;
	background: #f7b267;
	border: unset;
	border-top: 5px solid #f7b267;
	border-bottom: 5px solid #f7b267;
}

.panel-header {
	text-align: center;
	font-family: 'Dancing Script';
	padding: 1em;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
}

.panel-footer {
	background: #f7b267;
	border: unset;
	border-radius: unset;
	padding-bottom: 1.5em;
}

.form .control-label {
	display: none;
}

.form .countdown {
	float: right;
	color: #ff6a00;
	font-size: .8em;
}

.form .text-danger {
	color: #cc0000;
	font-size: .8em;
	text-transform: uppercase;
}
