@page
@model IndexModel


<form method="post">

	<div class="panel form">
		<div class="panel-header">Create a greeting</div>
		<div class="panel-body">
			@Html.Partial("_Form", Model.bridgeGreetings)

		</div>
		<div class="panel-footer text-center">
			<a href="/" class="btn btn-primary">Start Over</a>
			<input type="submit" value="Next" class="btn btn-primary" />
		</div>
	</div>

</form>




@section Scripts {
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/lib/ww-form-character-countdown.js"></script>
	<script src="~/lib/textareaautosize/autosize.min.js"></script>
	<script>
		autosize($('textarea'));
	</script>


}


